body {
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: #54A67B;
  font-family: sans-serif;
  height: 100%;
}

header {
  background-color: #323232;
  height: 100px;
  box-shadow: 0 0 5px black;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

header img {
  height: 100%;
}

header h1 {
  margin-left: 20px;
  color: #54A67B;
}

main {
  height: 100%;
}

.syllabus, .tracker, .hours {
  margin-bottom: 60px;
}

.syllabus {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.syllabus a {
  margin-bottom: 10px;
}

a {
  text-decoration: none;
  background-color: #71ff98;
  padding: 5px 10px;
  color: #323232;
  border-radius: 5px;
}

a:hover {
  background-color: #27fa61;
}
